<h2>Daily tasks for <%=session[:identity]%></h2>
<table class="zebra-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Task</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
        </tr>
    </tbody>
</table>
